.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sales-card {
  width: 300px;
  margin: 10px;
  height: 150px;
  box-sizing: border-box;
}

.monthly-sales-chart {
  margin-top: 100px;
  height: 300px;
}